body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #f2f2f2, #ffffff);
}

.center-block {
    height: 200vh;
    width: 60%;
    max-width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.271);
    background-color: whitesmoke;
    margin-top: 1%;
    margin-bottom: 1%;
}

header {
    display: flex;
    width: 100%;
    height: 25%;
}

.head-container {
    width: 70%;
    height: 100%;
}

.photo-container {
    height: 100%;
    width: 30%;
    background-image: url('img/MyPhoto.png');
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: bottom;
}

.head-information-block:nth-child(1) {
    width: 100%;
    height: 20%;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.head-information-block:nth-child(2) {
    position: relative;
    width: 100%;
    height: 35%;
}

.line-block:nth-child(1) {
    position: absolute;
    width: 95%;
    height: 80%;
    background-color: #e69d00;
    z-index: 2;
    top: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%);
    display: flex;
    align-items: center;
}
.about-me-information-block{
    width: 100%;
    position: absolute;
    right: 0;
    margin-top: 1%;
    font-family: Montserrat;
    color: whitesmoke;
    font-size: xx-large;
    text-align: center;
}

.line-block:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: rgb(30, 30, 30);
    bottom: 0;
    z-index: 1;
}

.line-block:nth-child(3) {
    position: absolute;
    width: 15%;
    height: 25%;
    background-color:#815800;
    z-index: 0;
    top: 0;
    clip-path: polygon(34% 0%, -10% 100%, 100% 100%);
}
.head-information-block:nth-child(3) {
    position: relative;
    width: 100%;
    height: 35%;
}
main{
    width: 100%;
    height: 50%;
}
.main-container:nth-child(1){
height: 100%;
width: 30%;
background-color: rgb(30, 30, 30);
}
.name-container:nth-child(1){
    background-color: #e69d00;
    width: 120%;
    height: 10%;
    display: flex;
}
.name-container:nth-child(1) span{
    font-family: Montserrat;
    color:whitesmoke;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
}
.name-container-element{
    background-color:#815800;
    width: 8.5%;
    height: 15%;
    clip-path: polygon(0% 0%,0% 100%,100% 100%);
    position: absolute;
    bottom: 0;
}

.head-information-block:nth-child(3) {
    width: 100%;
    height: 45%;
}
.custom-list {
  list-style-type: none;
  padding: 0;
  color: whitesmoke;
  font-family: Montserrat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Размещаем элементы по центру по горизонтали */
  align-items: center; /* Размещаем элементы по центру по вертикали */
}

.marker {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-color: #e69d00;
  margin-right: 1%;
  align-self: flex-start;
}

.contact-container {
  width: 100%;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 9%;
}

.contact-container li {
  margin-top: 2%; /* Уменьшаем расстояние между элементами */
  flex-basis: 100%;
}

.contact-container li a {
  font-family: Montserrat;
  text-decoration: none;
  color: whitesmoke;
}
.programs-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
justify-content: space-around;
margin-top: 5%;
}
.program-element{
    width: 35%;
    color: whitesmoke;
    font-family: Montserrat;
    text-align: center;
}
footer{
    height: 15%;
    width: 100%;
}
  .footer-contant:nth-child(1){
    height: 80%;
    width: 100%;
    background-color: #e69d00;
  }
@media (max-width: 768px) {
    .center-block {
        width: 80%;
    }

    .photo-container {
        background-size: 180%;
    }
    .name-container:nth-child(1) span{
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .center-block {
        width: 100%;
    }

    .photo-container {
        background-size: 185%;
    }
    .name-container:nth-child(1) span{
        font-size: 100%;
    }
}